* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgb(43 134 192);
    border: 20px solid rgb(36 109 156);
}

header footer{
    padding: 0 auto;
    margin: 10px;
    font-weight: normal;
}

.container{
    margin: 0 auto;
    max-width: 980px;
    padding: 20px;
}

ul li {
    display: inline-block;

}
ul{
    font-size: 0;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    border: 3px solid #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 18px;
}

p{
    opacity: 60%;
}

.lisbon{
    width: 50%;
    background-color: rgb(43 134 192);
}

.paris {
    width: 25%;
    background-color: rgb(47 195 192);
}

.belgrade{
    width: 25%;
    background-color: rgb(133 80 135); 
}

.moscow {
    width: 25%;
    background-color: rgb(178 50 55);
}
.telaviv{
    width: 25%;
    background-color: rgb(216 81 58); 
}

.cair{
    width: 25%;
    background-color: rgb(254 194 84);
}

.newyork{
    width: 25%;
    background-color: rgb(137 195 135);
}

.newdelhi{
    width: 25%;
    background-color: rgb(86 135 136);
}

.sanfrancisco{
    width: 50%;
    background-color: rgb(190 77 135);
}

.tokyo{
    width: 25%;
    background-color: rgb(43 137 83);
}

.sydney{
    width: 100%;
    background-color: rgb(82 81 135);
}

ul:hover > li{
    opacity: 50%;
}

ul li:hover {
    opacity: 100%;
}

* {
    transition: opacity .2s ease-in;
}